%div#header
  %div#header-content
    %span.navbar-title
      =image_tag "favicon.png", width: '90'
      %h2 DJ Suite for Spotify
      %span{ :style => "float: right; font-size: 18px" }
        = link_to "FAQ", faq_path


%br
  %div.container  
    %h1
      = link_to @playlist.name, @playlist.external_urls["spotify"], :target => "_blank"

    %br
      %span.arrow{ :style => "float: left; font-size: 20px"}
        %a{:href => "javascript:javascript:history.go(-1)"} <<
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th.filter-false{"data-field" => "id"} #
            %th{"data-field" => "track", "data-placeholder" => "Filter"} Track
            %th{"data-field" => "artist", "data-placeholder" => "Filter"} Artist
            %th{"data-field" => "length", "data-placeholder" => "Filter"} Length
            %th{"data-field" => "bpm", "data-placeholder" => "Filter"} BPM
            %th{"data-field" => "key", "data-placeholder" => "Filter"} Key
            %th{"data-field" => "energy", "data-placeholder" => "Filter"} Energy
            %th{"data-field" => "dance", "data-placeholder" => "Filter"} Dance
            %th{"data-field" => "popularity", "data-placeholder" => "Filter"} Popularity
        %tbody
          - @profile.each_with_index do |track, i|
            %tr
              %td= (i+1)
              %td= @track_info[i][1]
              %td= @track_info[i][2]
              %td= minutes(track.audio_summary.duration) unless track == nil
              %td= track.audio_summary.tempo.round unless track == nil
              %td= harmonic_mixing((track.audio_summary.key.to_s) + mode(track.audio_summary.mode)) unless track == nil
              %td= percent(track.audio_summary.energy) unless track == nil
              %td= percent(track.audio_summary.danceability) unless track == nil
              %td= percent(track.song_hotttnesss) unless track == nil
      
      %div.col-md-12.col-offset-4
        = bootstrap_form_tag(url: "#", layout: :inline) do |f|
          = f.text_field :name, hide_label: :true, placeholder: "Name", id: "playlist_name", name: "playlist_name"
          = f.submit "Create Playlist", class: "create_playlist btn btn-default"

#footer
  .container
    %p
      Powered by
      = link_to "Spotify", "http://www.spotify.com", :target => "_blank"
      and
      = link_to "The Echo Nest.", "http://the.echonest.com", :target => "_blank"
      Created by
      = link_to "Jeff Liu.", "http://last.fm/user/emperorliu", :target => "_blank"