<!DOCTYPE html>
<html>
<head>
  <title>DJ Suite</title>
  <%= include_gon %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.18.4/css/theme.default.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Exo+2' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.18.4/js/jquery.tablesorter.js"></script> 
  <script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.widgets.js"></script>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>

<%= yield %>

</body>
</html>
